# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=your_password_here
DB_NAME=examhub

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=

# JWT
JWT_SECRET=your_super_secret_key_change_this
JWT_EXPIRE=7d

# OpenRouter AI
OPENROUTER_API_KEY=your_openrouter_api_key
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_MODEL=deepseek/deepseek-chat

# Admin
ADMIN_USERNAME=admin
ADMIN_PASSWORD=TuanTu3008@ExamHub
ADMIN_EMAIL=admin@examhub.vn
ADMIN_NAME=Admin System

# Client
CLIENT_URL=http://localhost:5173

# Cache
AI_CACHE_TTL=3600
